# Для запуска через Docker Compose:
APP_CONFIG__DB__URL=postgresql+asyncpg://user:password@db:5432/dbname

# Для запуска локально через PyCharm (раскомментируй, если нужно):
# APP_CONFIG__DB__URL=postgresql+asyncpg://user:password@localhost:5432/dbname

APP_CONFIG__ACCESS_TOKEN__RESET_PASSWORD_TOKEN_SECRET=secret-reset-key
APP_CONFIG__ACCESS_TOKEN__VERIFICATION_TOKEN_SECRET=secret-verification-key
